body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent !important;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

#add {
    margin: 10px;
    border: 2px black solid;
    box-shadow: 5px 10px #888888;
    font-weight: bolder;
    color: white;
    font-size: 20px;
    width: 35%;
    height: 50%;
    background-color: #45a049;
}

#add:hover {
    transition-duration: 50ms;
    margin: 10px;
    border: 2px black solid;
    font-weight: bolder;
    color: white;
    font-size: 20px;
    width: 35%;
    height: 50%;
    background-color: green;
}

#add:active {
    background-color: green;
    box-shadow: 0 5px #666;
}

#add:focus {
    outline: none;
}

#add2 {
    margin: 10px;
    border: 2px black solid;
    box-shadow: 5px 10px #888888;
    font-weight: bolder;
    color: white;
    font-size: 20px;
    width: 35%;
    height: 50%;
    background-color: red;
}

#add2:hover {
    transition-duration: 50ms;
    margin: 10px;
    border: 2px black solid;
    font-weight: bolder;
    color: white;
    font-size: 20px;
    width: 35%;
    height: 50%;
    background-color: rgb(177, 0, 0);
}

#add2:active {
    background-color: rgb(177, 0, 0);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#add2:focus {
    outline: none;
}

.container {
    border-radius: 5px;
    padding: 20px;
}

.section1 {
    box-shadow: 0 1px 5px #666;
    margin: 2%;
    float: left;
    width: 30%;
}

.section2 {
    box-shadow: 0 1px 5px #666;
    margin: 2%;
    width: 55%;
    padding: 10px;
    display: inline;
    float: right;
}

.radio {
    padding: 12px;
}

.footer {
    clear: both;
    bottom: 0;
    border: solid #ccc 1px;
    border-radius: 10px;
    background-color: #f2f2f2;
}